{% extends 'admin_base.html' %} {% block title %}Schüler hinzufügen{% endblock %} {%
block main %}

<div class="centered">
  <h1>Bitte Schüler hinzufügen</h1>
  <form method="post">
    <div>
      <label for="first-name">Vorname:</label>
      <input type="text" id="first-name" name="first_name" required />
    </div>
    <div>
      <label for="last-name">Nachname:</label>
      <input type="text" id="last-name" name="last_name" required />
    </div>
    <div>
      <label for="username">Benutzername (Subiti):</label>
      <input type="text" id="username" name="username" required />
    </div>
    <div>
      <label for="password">Passwort:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        minlength="5"
      />
    </div>
    <div>
      <label for="password-check">Passwort wiederholen:</label>
      <input
        type="password"
        id="password_check"
        name="password_check"
        required
        minlength="5"
      />
    </div>
    <div>
      <label for="class">Klasse:</label>
      <select id="class" name="class" required>
        {% for class in classes %}
        <option value="{{ class }}">{{ class[0] }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <button type="submit">Jetzt hinzufügen</button>
    </div>
  </form>
</div>
{% endblock %}
