{% extends 'admin_base.html' %} {% block title %}Kursvorschläge berechnen{%
endblock %} {% block main %}
<div class="login-container centered">
  <h1>Bitte einen Kurs wählen</h1>
  <form method="post">
    <select
      class="form-select"
      aria-label="Default select example"
      name="selected_course"
    >
      <option selected disabled>WP-Kurs</option>
      {% for course in courses %}
      <option value="{{ course}}">{{ course }}</option>
      {% endfor %}
      <option value="unfulfilled_wish">Wunsch unerfüllt</option>
    </select>
    <div class="button-container">
      <button type="submit" class="btn" id="show-class-btn">
        Vorschlag für Kurs anzeigen
      </button>
    </div>
  </form>
</div>
{% endblock %}
