{% extends 'admin_base.html' %} {% block title %}Klasse wählen{% endblock %} {%
block main %}
<div class="login-container centered">
  <h1>Klasse wählen</h1>
  <form method="post">
    <select class="form-select" aria-label="Default select example" name="selected_class">
      <option selected disabled>Bitte eine Klasse auswählen</option>
      {% for _class in classes %}
      <option value="{{ _class[0] }}">{{ _class[0] }}</option>
      {% endfor %}
    </select>
    <div class="button-container">
      <button type="submit" class="btn" id="show-class-btn">
        Ergebnisse anzeigen
      </button>
    </div>
  </form>
</div>
{% endblock %}
