{% extends 'admin_base.html' %} {% block title %}Schüler löschen{% endblock %}
{% block main %}

<div class="centered">
  <h1>Schüler löschen</h1>
  <form method="POST">
    <div class="subheader">
      <h2>Bitte Klasse wählen:</h2>
      <div>
        <label for="class">Klasse:</label>
        <select id="class" name="class" required>
          {% for class in classes %}
          <option value="{{ class }}">{{ class[0] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div>
      <button type="submit">Zur Klassenübersicht</button>
    </div>
  </form>
</div>
{% endblock %}
