{% extends 'base.html' %} {% block title %}Course Overview{% endblock %} {%
block main %}
<div
  class="row row-cols-1 row-cols-md-4 row-cols-sm-2 row-cols-xs-1 g-2"
  style="margin-top: 80px"
>
  {% for course in courses %}
  <div class="col">
    <div class="card h-100" style="margin: 5px">
      <img
        src="{% if course.img_name == 'DEFAULT.jpg' %}
        {{ url_for('static', filename='DEFAULT.jpg') }}
      {% else %}
        {{ url_for('course_image', filename=course.img_name) }}
      {% endif %}"
        class="card-img-top"
        alt="{{course.name}}"
      />
      <div class="card-body">
        <h5 class="card-title">{{course.name}} - {{course.teacher}}</h5>
        <p class="card-text">
          {{course.description}}
          <br />
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted"
          >Maximale Teilnehmer: {{course.max_participants}}</small
        >
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
