{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block main %}
<div class="container centered">
  <div class="landing-logo">
    <img
      class="welcome-logo"
      src="{{ url_for('static', filename='schaumburg_logo.png') }}"
      width="80"
      height="80"
    />
    <h1>Willkommen bei <br />Schaumburg wählt!</h1>
  </div>
  <div class="landing-logo-2" style="margin-top: 40px">
    {% if g.user['username'] %}
    <h1>Hallo {{g.user['first_name']}}</h1>
    <form action=" {{ url_for('views.vote')}}" , method="get">
      <button class="btn" id="login-btn" type="submit">Jetzt wählen</button>
    </form>
    {% else %}
    <h1>Bitte einloggen</h1>
    <form action=" {{ url_for('auth.login')}}" , method="get">
      <button class="btn" id="login-btn" type="submit">Login</button>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}
