{% extends 'base.html' %} {% block title %}Log In{% endblock %} {% block main %}

<div class="centered">
  <form method="post">
    <div class="form-groups vertical-buttons login-container">
      {% for i in range(3) %}
      <div class="form-group container">
        <label for="wahl{{i+1}}">{{i+1}}. Wahl</label>
        <select
          onchange="toggleDisability(this);"
          class="form-control container"
          id="wahl{{i+1}}"
          name="wahl{{i+1}}"
        >
          <option selected disabled>choose course</option>
          {% for course in courses %}
          <option value="{{course.name}}">{{course.name}}</option>
          {% endfor %}
        </select>
      </div>
      {% endfor %}
    </div>
    <div class="button-container">
      <button
        onclick="resetValues();"
        type="reset"
        class="btn"
        id="restart-btn"
      >
        Reset
      </button>
    </div>
    <div class="button-container">
      <button type="submit" class="btn" id="vote-btn">Vote now!</button>
    </div>
  </form>
</div>

{% endblock %} {% block script %}
<script>
  function toggleDisability(selectElement) {
    // getting all select elements
    var arraySelects = document.getElementsByClassName("form-control");
    // get the index of the selected option
    var selectedOptionIndex = selectElement.selectedIndex;
    // disable options at the same index in other select elements:
    for (var i = 0; i < arraySelects.length; i++) {
      if (arraySelects[i] != selectElement) {
        arraySelects[i].options[selectedOptionIndex].disabled = true;
      }
    }
  }

  function resetValues() {
    var numOptions = document.getElementById("wahl1").options.length;
    var arraySelects = document.getElementsByClassName("form-control");
    for (var i = 0; i < arraySelects.length; i++) {
      for (var j = 1; j < numOptions; j++) {
        arraySelects[i].options[j].disabled = false;
      }
    }
  }
</script>
{% endblock %}
