{% extends 'base.html' %}

{% block title %}Log In{% endblock %}
{% block main %}
    
    <div class="centered">
          <div class="vertical-buttons">
              <div class="landing-logo-2 vertical-buttons">
                    <div class="dropdown">
                      <button type="button" class="btn btn-secondary btn-lg dropdown-toggle vote-btn"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="erste">
                        Erstwahl
                      </button>
                      <div class="dropdown-menu" aria-labelledby="erste">
                        <a class="dropdown-item" href="#" onclick="setDropdownText('Kurs 1', 'erste')">Kurs 1</a>
                        <a class="dropdown-item" href="#" onclick="setDropdownText('Kurs 2', 'erste')">Kurs 2</a>
                        <a class="dropdown-item" href="#" onclick="setDropdownText('Kurs 3', 'erste')">Kurs 3</a>
                      </div>
                    </div>
                    <div class="dropdown">
                      <button type="button" class="btn btn-secondary btn-lg dropdown-toggle vote-btn"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="zweite">
                        Zweitwahl
                      </button>
                      <div class="dropdown-menu" aria-labelledby="zweite">
                        <a class="dropdown-item" href="#" onclick="setDropdownText('Kurs 1', 'zweite')">Kurs 1</a>
                        <a class="dropdown-item" href="#" onclick="setDropdownText('Kurs 2', 'zweite')">Kurs 2</a>
                        <a class="dropdown-item" href="#" onclick="setDropdownText('Kurs 3', 'zweite')">Kurs 3</a>
                      </div>
                    </div>
                    <div class="dropdown">
                      <button type="button" class="btn btn-secondary btn-lg dropdown-toggle vote-btn"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dritte">
                        Drittwahl
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dritte" onchange="checkValues()">
                        <a class="dropdown-item" href="#" onclick="setDropdownText('Kurs 1', 'dritte')">Kurs 1</a>
                        <a class="dropdown-item" href="#" onclick="setDropdownText('Kurs 2', 'dritte')">Kurs 2</a>
                        <a class="dropdown-item" href="#" onclick="setDropdownText('Kurs 3', 'dritte')">Kurs 3</a>
                      </div>
                    </div>
              </div>
              <div class="landing-logo" style="margin-top:30px">
                  <button class="btn btn-success vertical-buttons" type="submit" id="vote-btn">Vote now!</button>
              </div>
            </div>
        </div>

        {% endblock %}
    {% block script %}
        <script>
          function setDropdownText(text, btnID) {
            document.getElementById(btnID).innerHTML = text;
            console.log("in setDropdown..");
          }
          function checkValues(){
            console.log("values changed");
          }
        </script>
    {% endblock %}